.inputContainer {
	margin-bottom: toRem(14);
}

.inputLabel {
	display: block;
	margin-bottom: toRem(6);
  color: var(--text-secondary);
}

.inputField {
	width: 100%;
	padding: toRem(10) toRem(12);
	border-radius: toRem(8);
	outline: none;
	border: toRem(1) solid var(--input-border-disabled);
  color: var(--input-text);
	transition:
		border-color var(--tr-base),
		box-shadow var(--tr-base),
		background-color var(--tr-base);
	will-change: border-color, box-shadow, background-color;

	/* Hover */
	// @media (any-hover: hover) {
	// 	&:hover:not(:disabled):not(.error) {
	// 		border-color: var(--input-border-hover);
	// 	}
	// }

  &::placeholder {
    color: var(--input-placeholder);
  }

	/* Focus */
	&:focus {
		border-color: var(--input-border-hover);
		box-shadow: var(--input-focus-ring);
	}

	/* Disabled */
	&:disabled {
		background-color: var(--input-bg-disabled);
		border-color: var(--input-border-disabled);
		color: var(--input-placeholder);
		cursor: not-allowed;
	}

	/* Error */
	&.error {
		border: toRem(1) solid var(--status-error-border);
		box-shadow: var(--status-error-ring);
	}
}

.inputHint {
	margin-top: toRem(4);
	font-size: toRem(12);
	color: var(--input-placeholder);
}

.inputError {
	margin-top: toRem(4);
	font-size: toRem(12);
	color: var(--status-error-text);
}
