.sidebar {
  --sidebar-width: #{toRem(250)};
  --sidebar-width-collapsed: #{toRem(72)};

  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  max-height: 100vh;
  background-color: var(--bg-sidebar);
  overflow: hidden;
  @include adaptiveValue("padding-block", 16, 10);
  transition: width var(--tr-slow), min-width var(--tr-slow);
  will-change: width, min-width;

  &.collapsed {
    width: var(--sidebar-width-collapsed);
    min-width: var(--sidebar-width-collapsed);

    @media (max-width: 767.98px) {
      width: toRem(62);
     min-width: toRem(62);
    }

    @media (max-width: 479.98px) {
      width: toRem(52);
     min-width: toRem(52);
    }
  }
}

.scroll {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  @include adaptiveValue("gap", 8, 6);
  @include adaptiveValue("padding-block", 8, 6);
  @include adaptiveValue("padding-inline", 12, 10);
}