.sidebar {
  --sidebar-width: #{toRem(220)};
  --sidebar-width-collapsed: #{toRem(72)};

  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  max-height: 100vh;
  background-color: var(--bg-sidebar);
  overflow: hidden;
  padding-block: toRem(16);
  transition: width var(--tr-slow), min-width var(--tr-slow);

  &.collapsed {
    width: var(--sidebar-width-collapsed);
    min-width: var(--sidebar-width-collapsed);
  }
}

.scroll {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: toRem(8);
  padding: toRem(8) toRem(12);
}