.selectWrapper {
	margin-bottom: toRem(14);
}

.selectLabel {
	display: block;
	margin-bottom: toRem(6);
  color: var(--text-secondary);
}

.select {
	width: 100%;
	padding: toRem(10) toRem(12);
	border-radius: toRem(8);
	border: toRem(1) solid var(--input-border-disabled);
	outline: none;
	transition:
		border-color var(--tr-base),
		box-shadow var(--tr-base);
	background-color: var(--bg-surface);
	color: var(--input-text);

	/* Hover */
	// &:hover:not(.disabledInput):not(.error) {
	// 	border-color: #94a3b8;
	// }

	/* Focus */
	&:focus {
		border-color: var(--input-border-hover);
		box-shadow: var(--input-focus-ring);
	}

	/* Disabled */
	&.disabledInput {
		background-color: var(--input-bg-disabled);
		border-color: var(--input-border-disabled);
		color: var(--input-placeholder);
		cursor: not-allowed;
	}
}

/* Multiple select — правильний селектор */
.multiple {
	min-height: toRem(120);
}

/* Error state */
.error {
	border-color: var(--status-error-border) !important;
	box-shadow: var(--status-error-ring);
}

/* Error message */
.errorMessage {
	margin-top: toRem(4);
	color: var(--status-error-text);
	font-size: toRem(12);
}
