.footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: toRem(10);
  padding-inline: toRem(12);
  padding-block: toRem(12);
  margin-top: auto;
  flex-shrink: 0;
  border-top: toRem(2) solid var(--border-soft);
}


.footer>*:last-child {
  margin-left: toRem(12);
}

.footer.collapsed {
  align-items: center;
  padding-block: toRem(10);
}


.footer.collapsed>*:last-child {
  margin-left: 0;
}