.menu {
  display: flex;
  flex-direction: column;
  border-bottom: toRem(2) solid var(--border-soft);
  @include adaptiveValue("padding-block", 14, 10);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  @include adaptiveValue("gap", 4, 2);
}

.item {
  display: block;
}

.active {
  background-color: var(--bg-sidebar-active) !important;
  color: var(--color-sidebar-active);
}